// font-family: 'Montserrat', sans-serif;
// font-family: 'Tiro Devanagari Marathi', serif;

$blueText: #546E94;
$yellowButton: #B5973F;
$orangeAccent: #AD4B33;

.App {
    width: 90%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: $blueText;
}

a {
    text-decoration: none;
}

button {
    background-color: $yellowButton;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
}



/*------------ NAVIGATION STYLES -----------*/

#topNav--links {
    display: none;
    margin-left: auto;
    margin-right: 50px;

}

.topNav {
    display: flex;
    background-color: #AD4B33;
    height: 5.5vh;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.topNav a {
    float: left;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 14px 8px;
    display: block;
}

.topNav .icon {
    background: #AD4B33;
    color: white;
    font-size: 24px;
    display: block;
    position: absolute;
    height: 100%;
    width: 50px;
    border: none;
    right: 0;
    top: 0;
}

.topNav a:hover {
    background-color: #ddd;
    color: #6e2f1f;
}

.icon:hover {
    background-color: #ddd;
    color: #6e2f1f;
    border-radius: 0;
}

.logo {
    height: 35px;
    margin-left: 10px;
    margin-right: auto;
}

/*------------ SPLASH PAGE -----------*/

.splash--container {
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: 50% 50%;
    max-width: 1200px;
    position: relative;
    // max-height: 500px;
}

.splash--container > #splash--image {
    grid-area: image;
    margin: 10px 10px 10px 0px;
    width: 100%;

}

.splash--container > #splash--text {
    grid-area: text;
    margin: 10px;
    padding: 50px;
    position: absolute;
    top: 10%;
    color: $blueText;
}

.splash--sectionTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.45vw;
}

.splash--sectionDesc {
    font-family: 'Tiro Devanagari Marathi', serif;
    font-size: 1.65vw,;
    line-height: 1.75;
}

/*------------ INDEX PAGE -----------*/

.index--grid {
  display: flex;
}

.index--itemBox {
    margin: 10px;
    width: 200px;
    height: 200px;
    position: relative;
}

.index--image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index--overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#AD4B33;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.index--itemBox:hover .index--overlay {
    height: 100%;
}

.index--overlayText {
    white-space: initial;
    text-align: center;
    color: white;
    font-size: 14px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*------------ FILTER -----------*/



/*------------ ACTIVITY PAGE -----------*/

.activity--grid {
    display: grid;
    grid-template-areas: 
        "details image"
        "reviews image";
    grid-template-columns: 50% 50%;
    max-width: 1200px;
    width: 100%;
    margin-top: 10px;
}

.activity--grid > .activity--details {
    grid-area: details;
    padding-right: 20px;

}

.activity--details h3 {
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 300;    
}

.activity--details p {
    font-size: 1.5vw;
    line-height: 1.5;
}

.activity--image {
    grid-area: image;
}

.activity--image img {
    grid-area: image;
    width: 100%;
    object-fit: contain;

}

.activity--grid > .activity--reviews {
    grid-area: reviews;
}

